@import "common/foundation/variables";
@import "common/foundation/mixins";

.btn {
  @include border-radius-all($border-radius-default-SP);
}

.btn-primary { // The red ones :P
//  background-color: $red-SP;
//	for neusoft platform forum
	background-color: $blue-NP;
	color: #fff;

  &:hover {
    background-color: $blue-darker-NP;
  }
}
